.vscode
*~$*.doc
*~$*.docx
*.exe
.cache/clangd/index/ObjectPool4.hpp.9001A2FB8C547E39.idx
.cache/clangd/index/TestObj.cpp.F33E7DE990A16A07.idx
.idea/.gitignore
.idea/C _learning.iml
.idea/modules.xml
.idea/vcs.xml
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-6deeb04a21281b2081d6.json
build/.cmake/api/v1/reply/cmakeFiles-v1-32a3a957b12996bc865b.json
build/.cmake/api/v1/reply/codemodel-v2-6efdc93ca4cd2114d3e7.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2023-07-13T16-20-34-0921.json
build/.cmake/api/v1/reply/target-ObjectPool-Debug-069ce046b7e3d0f353ea.json
build/.cmake/api/v1/reply/toolchains-v1-3be1a769e84798ecf00b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.23.1/CMakeCCompiler.cmake
build/CMakeFiles/3.23.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.23.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.23.1/CMakeRCCompiler.cmake
build/CMakeFiles/3.23.1/CMakeSystem.cmake
build/CMakeFiles/3.23.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.23.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/ObjectPool.dir/build.make
build/CMakeFiles/ObjectPool.dir/cmake_clean.cmake
build/CMakeFiles/ObjectPool.dir/compiler_depend.make
build/CMakeFiles/ObjectPool.dir/compiler_depend.ts
build/CMakeFiles/ObjectPool.dir/depend.make
build/CMakeFiles/ObjectPool.dir/DependInfo.cmake
build/CMakeFiles/ObjectPool.dir/flags.make
build/CMakeFiles/ObjectPool.dir/includes_CXX.rsp
build/CMakeFiles/ObjectPool.dir/linklibs.rsp
build/CMakeFiles/ObjectPool.dir/objects.a
build/CMakeFiles/ObjectPool.dir/objects1.rsp
build/CMakeFiles/ObjectPool.dir/progress.make
build/CMakeFiles/ObjectPool.dir/src/TestObj.cpp.obj
build/CMakeFiles/ObjectPool.dir/src/TestObj.cpp.obj.d
